In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Iris-f.csv")
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              NaN           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [6]:
df.fillna(df.mean,inplace=True)

In [4]:
df2= df.copy(deep = True)
df2.dropna(axis=0,inplace = True)
df2.shape

(146, 5)

In [5]:
df1 = df.copy(deep = True)

In [6]:
med = df1['SepalLengthCm'].median()
med

5.8

In [7]:
df1['SepalLengthCm'].fillna(med,inplace=True)
df1.isna().sum()

SepalLengthCm    0
SepalWidthCm     1
PetalLengthCm    1
PetalWidthCm     0
Species          1
dtype: int64

In [8]:
df1.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.8           3.6            1.4           0.2  Iris-setosa

In [9]:
df1.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             5.8           3.6            1.4           0.2  Iris-setosa
7             5.0           NaN            NaN           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2          NaN
20            5.8           3.4            1.7           0.2  Iris-setosa

In [10]:
df1.mean()

/tmp/ipykernel_7331/2053335143.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.mean()

SepalLengthCm    5.851333
SepalWidthCm     3.051678
PetalLengthCm    3.773826
PetalWidthCm     1.198667
dtype: float64

In [11]:

df1.fillna(df.mean(),inplace = True) #or median also cN BE USed
df1.iloc[[4,7,10,20],:]

/tmp/ipykernel_7331/1056798112.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1.fillna(df.mean(),inplace = True) #or median also cN BE USed

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             5.8      3.600000       1.400000           0.2  Iris-setosa
7             5.0      3.051678       3.773826           0.2  Iris-setosa
10            5.4      3.700000       1.500000           0.2          NaN
20            5.8      3.400000       1.700000           0.2  Iris-setosa

In [12]:
df3= df.copy(deep = True)

df3.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             NaN           3.6            1.4           0.2  Iris-setosa
7             5.0           NaN            NaN           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2          NaN
20            NaN           3.4            1.7           0.2  Iris-setosa

In [13]:
df3.Species.fillna("Iris-setosa",inplace = True)
df3.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             NaN           3.6            1.4           0.2  Iris-setosa
7             5.0           NaN            NaN           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
20            NaN           3.4            1.7           0.2  Iris-setosa

In [14]:
df4= df.copy(deep = True)
df4.fillna(method="bfill",inplace = True)
df4.head(10)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.4           3.6            1.4           0.2  Iris-setosa
5            5.4           3.9            1.7           0.4  Iris-setosa
6            4.6           3.4            1.4           0.3  Iris-setosa
7            5.0           2.9            1.4           0.2  Iris-setosa
8            4.4           2.9            1.4           0.2  Iris-setosa
9            4.9           3.1            1.5           0.1  Iris-setosa

In [15]:
df4.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             5.4           3.6            1.4           0.2  Iris-setosa
7             5.0           2.9            1.4           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
20            5.1           3.4            1.7           0.2  Iris-setosa

In [16]:
df5= df.copy(deep = True)
df5.fillna(method="ffill",inplace = True)
df5.iloc[[4,7,10,20],:]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
4             4.6           3.6            1.4           0.2  Iris-setosa
7             5.0           3.4            1.4           0.2  Iris-setosa
10            5.4           3.7            1.5           0.2  Iris-setosa
20            5.1           3.4            1.7           0.2  Iris-setosa

In [17]:
from sklearn.impute import SimpleImputer
df6= df.copy(deep = True)

In [18]:
si = SimpleImputer(missing_values = np.nan,strategy = "mean")
df6=df.iloc[:,0:4]
si.fit_transform(df6)

array([[5.1       , 3.5       , 1.4       , 0.2       ],
       [4.9       , 3.        , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.3       , 0.2       ],
       [4.6       , 3.1       , 1.5       , 0.2       ],
       [5.85202703, 3.6       , 1.4       , 0.2       ],
       [5.4       , 3.9       , 1.7       , 0.4       ],
       [4.6       , 3.4       , 1.4       , 0.3       ],
       [5.        , 3.05167785, 3.7738255 , 0.2       ],
       [4.4       , 2.9       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.4       , 3.7       , 1.5       , 0.2       ],
       [4.8       , 3.4       , 1.6       , 0.2       ],
       [4.8       , 3.        , 1.4       , 0.1       ],
       [4.3       , 3.        , 1.1       , 0.1       ],
       [5.8       , 4.        , 1.2       , 0.2       ],
       [5.7       , 4.4       , 1.5       , 0.4       ],
       [5.4       , 3.9       , 1.3       , 0.4       ],
       [5.1       , 3.5       , 1.4       , 0.3       ],
       [5.7       , 3.8       , 1.7       , 0.3       ],
       [5.1       , 3.8       , 1.5       , 0.3       ],
       [5.85202703, 3.4       , 1.7       , 0.2       ],
       [5.1       , 3.7       , 1.5       , 0.4       ],
       [4.6       , 3.6       , 1.        , 0.2       ],
       [5.1       , 3.3       , 1.7       , 0.5       ],
       [4.8       , 3.4       , 1.9       , 0.2       ],
       [5.        , 3.        , 1.6       , 0.2       ],
       [5.        , 3.4       , 1.6       , 0.4       ],
       [5.2       , 3.5       , 1.5       , 0.2       ],
       [5.2       , 3.4       , 1.4       , 0.2       ],
       [4.7       , 3.2       , 1.6       , 0.2       ],
       [4.8       , 3.1       , 1.6       , 0.2       ],
       [5.4       , 3.4       , 1.5       , 0.4       ],
       [5.2       , 4.1       , 1.5       , 0.1       ],
       [5.5       , 4.2       , 1.4       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [5.        , 3.2       , 1.2       , 0.2       ],
       [5.5       , 3.5       , 1.3       , 0.2       ],
       [4.9       , 3.1       , 1.5       , 0.1       ],
       [4.4       , 3.        , 1.3       , 0.2       ],
       [5.1       , 3.4       , 1.5       , 0.2       ],
       [5.        , 3.5       , 1.3       , 0.3       ],
       [4.5       , 2.3       , 1.3       , 0.3       ],
       [4.4       , 3.2       , 1.3       , 0.2       ],
       [5.        , 3.5       , 1.6       , 0.6       ],
       [5.1       , 3.8       , 1.9       , 0.4       ],
       [4.8       , 3.        , 1.4       , 0.3       ],
       [5.1       , 3.8       , 1.6       , 0.2       ],
       [4.6       , 3.2       , 1.4       , 0.2       ],
       [5.3       , 3.7       , 1.5       , 0.2       ],
       [5.        , 3.3       , 1.4       , 0.2       ],
       [7.        , 3.2       , 4.7       , 1.4       ],
       [6.4       , 3.2       , 4.5       , 1.5       ],
       [6.9       , 3.1       , 4.9       , 1.5       ],
       [5.5       , 2.3       , 4.        , 1.3       ],
       [6.5       , 2.8       , 4.6       , 1.5       ],
       [5.7       , 2.8       , 4.5       , 1.3       ],
       [6.3       , 3.3       , 4.7       , 1.6       ],
       [4.9       , 2.4       , 3.3       , 1.        ],
       [6.6       , 2.9       , 4.6       , 1.3       ],
       [5.2       , 2.7       , 3.9       , 1.4       ],
       [5.        , 2.        , 3.5       , 1.        ],
       [5.9       , 3.        , 4.2       , 1.5       ],
       [6.        , 2.2       , 4.        , 1.        ],
       [6.1       , 2.9       , 4.7       , 1.4       ],
       [5.6       , 2.9       , 3.6       , 1.3       ],
       [6.7       , 3.1       , 4.4       , 1.4       ],
       [5.6       , 3.        , 4.5       , 1.5       ],
       [5.8       , 2.7       , 4.1       , 1.        ],
       [6.2       , 2.2       , 4.5       , 1.5       ],
       [5.6       , 2.5       , 3.9       , 1.1       ],
       [5.9       , 3.2       , 4.8       , 1.8       ],
       [6.1       , 2.8       , 4.        , 1.3       ],
       [6.3       , 2.5       , 4.9       , 1.5       ],
       [6.1       , 2.8       , 4.7       , 1.2       ],
       [6.4       , 2.9       , 4.3       , 1.3       ],
       [6.6       , 3.        , 4.4       , 1.4       ],
       [6.8       , 2.8       , 4.8       , 1.4       ],
       [6.7       , 3.        , 5.        , 1.7       ],
       [6.        , 2.9       , 4.5       , 1.5       ],
       [5.7       , 2.6       , 3.5       , 1.        ],
       [5.5       , 2.4       , 3.8       , 1.1       ],
       [5.5       , 2.4       , 3.7       , 1.        ],
       [5.8       , 2.7       , 3.9       , 1.2       ],
       [6.        , 2.7       , 5.1       , 1.6       ],
       [5.4       , 3.        , 4.5       , 1.5       ],
       [6.        , 3.4       , 4.5       , 1.6       ],
       [6.7       , 3.1       , 4.7       , 1.5       ],
       [6.3       , 2.3       , 4.4       , 1.3       ],
       [5.6       , 3.        , 4.1       , 1.3       ],
       [5.5       , 2.5       , 4.        , 1.3       ],
       [5.5       , 2.6       , 4.4       , 1.2       ],
       [6.1       , 3.        , 4.6       , 1.4       ],
       [5.8       , 2.6       , 4.        , 1.2       ],
       [5.        , 2.3       , 3.3       , 1.        ],
       [5.6       , 2.7       , 4.2       , 1.3       ],
       [5.7       , 3.        , 4.2       , 1.2       ],
       [5.7       , 2.9       , 4.2       , 1.3       ],
       [6.2       , 2.9       , 4.3       , 1.3       ],
       [5.1       , 2.5       , 3.        , 1.1       ],
       [5.7       , 2.8       , 4.1       , 1.3       ],
       [6.3       , 3.3       , 6.        , 2.5       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [7.1       , 3.        , 5.9       , 2.1       ],
       [6.3       , 2.9       , 5.6       , 1.8       ],
       [6.5       , 3.        , 5.8       , 2.2       ],
       [7.6       , 3.        , 6.6       , 2.1       ],
       [4.9       , 2.5       , 4.5       , 1.7       ],
       [7.3       , 2.9       , 6.3       , 1.8       ],
       [6.7       , 2.5       , 5.8       , 1.8       ],
       [7.2       , 3.6       , 6.1       , 2.5       ],
       [6.5       , 3.2       , 5.1       , 2.        ],
       [6.4       , 2.7       , 5.3       , 1.9       ],
       [6.8       , 3.        , 5.5       , 2.1       ],
       [5.7       , 2.5       , 5.        , 2.        ],
       [5.8       , 2.8       , 5.1       , 2.4       ],
       [6.4       , 3.2       , 5.3       , 2.3       ],
       [6.5       , 3.        , 5.5       , 1.8       ],
       [7.7       , 3.8       , 6.7       , 2.2       ],
       [7.7       , 2.6       , 6.9       , 2.3       ],
       [6.        , 2.2       , 5.        , 1.5       ],
       [6.9       , 3.2       , 5.7       , 2.3       ],
       [5.6       , 2.8       , 4.9       , 2.        ],
       [7.7       , 2.8       , 6.7       , 2.        ],
       [6.3       , 2.7       , 4.9       , 1.8       ],
       [6.7       , 3.3       , 5.7       , 2.1       ],
       [7.2       , 3.2       , 6.        , 1.8       ],
       [6.2       , 2.8       , 4.8       , 1.8       ],
       [6.1       , 3.        , 4.9       , 1.8       ],
       [6.4       , 2.8       , 5.6       , 2.1       ],
       [7.2       , 3.        , 5.8       , 1.6       ],
       [7.4       , 2.8       , 6.1       , 1.9       ],
       [7.9       , 3.8       , 6.4       , 2.        ],
       [6.4       , 2.8       , 5.6       , 2.2       ],
       [6.3       , 2.8       , 5.1       , 1.5       ],
       [6.1       , 2.6       , 5.6       , 1.4       ],
       [7.7       , 3.        , 6.1       , 2.3       ],
       [6.3       , 3.4       , 5.6       , 2.4       ],
       [6.4       , 3.1       , 5.5       , 1.8       ],
       [6.        , 3.        , 4.8       , 1.8       ],
       [6.9       , 3.1       , 5.4       , 2.1       ],
       [6.7       , 3.1       , 5.6       , 2.4       ],
       [6.9       , 3.1       , 5.1       , 2.3       ],
       [5.8       , 2.7       , 5.1       , 1.9       ],
       [6.8       , 3.2       , 5.9       , 2.3       ],
       [6.7       , 3.3       , 5.7       , 2.5       ],
       [6.7       , 3.        , 5.2       , 2.3       ],
       [6.3       , 2.5       , 5.        , 1.9       ],
       [6.5       , 3.        , 5.2       , 2.        ],
       [6.2       , 3.4       , 5.4       , 2.3       ],
       [5.9       , 3.        , 5.1       , 1.8       ]])

In [19]:
si = SimpleImputer(missing_values = np.nan,strategy = "most_frequent")
# df6=df.iloc[:,0:4]
si.fit_transform(df[['Species']])

array([['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-setosa'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-versicolor'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica'],
       ['Iris-virginica']], dtype=object)

In [20]:
df7= df.copy(deep = True)
df7.dropna(axis=0,inplace=True)
df7.columns
df8=df7[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]

In [21]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler()
scaled=mm.fit_transform(df8)
scaled

array([[0.22222222, 0.625     , 0.06779661, 0.04166667],
       [0.16666667, 0.41666667, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.05084746, 0.04166667],
       [0.08333333, 0.45833333, 0.08474576, 0.04166667],
       [0.30555556, 0.79166667, 0.11864407, 0.125     ],
       [0.08333333, 0.58333333, 0.06779661, 0.08333333],
       [0.02777778, 0.375     , 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.13888889, 0.58333333, 0.10169492, 0.04166667],
       [0.13888889, 0.41666667, 0.06779661, 0.        ],
       [0.        , 0.41666667, 0.01694915, 0.        ],
       [0.41666667, 0.83333333, 0.03389831, 0.04166667],
       [0.38888889, 1.        , 0.08474576, 0.125     ],
       [0.30555556, 0.79166667, 0.05084746, 0.125     ],
       [0.22222222, 0.625     , 0.06779661, 0.08333333],
       [0.38888889, 0.75      , 0.11864407, 0.08333333],
       [0.22222222, 0.75      , 0.08474576, 0.08333333],
       [0.22222222, 0.70833333, 0.08474576, 0.125     ],
       [0.08333333, 0.66666667, 0.        , 0.04166667],
       [0.22222222, 0.54166667, 0.11864407, 0.16666667],
       [0.13888889, 0.58333333, 0.15254237, 0.04166667],
       [0.19444444, 0.41666667, 0.10169492, 0.04166667],
       [0.19444444, 0.58333333, 0.10169492, 0.125     ],
       [0.25      , 0.625     , 0.08474576, 0.04166667],
       [0.25      , 0.58333333, 0.06779661, 0.04166667],
       [0.11111111, 0.5       , 0.10169492, 0.04166667],
       [0.13888889, 0.45833333, 0.10169492, 0.04166667],
       [0.30555556, 0.58333333, 0.08474576, 0.125     ],
       [0.25      , 0.875     , 0.08474576, 0.        ],
       [0.33333333, 0.91666667, 0.06779661, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.19444444, 0.5       , 0.03389831, 0.04166667],
       [0.33333333, 0.625     , 0.05084746, 0.04166667],
       [0.16666667, 0.45833333, 0.08474576, 0.        ],
       [0.02777778, 0.41666667, 0.05084746, 0.04166667],
       [0.22222222, 0.58333333, 0.08474576, 0.04166667],
       [0.19444444, 0.625     , 0.05084746, 0.08333333],
       [0.05555556, 0.125     , 0.05084746, 0.08333333],
       [0.02777778, 0.5       , 0.05084746, 0.04166667],
       [0.19444444, 0.625     , 0.10169492, 0.20833333],
       [0.22222222, 0.75      , 0.15254237, 0.125     ],
       [0.13888889, 0.41666667, 0.06779661, 0.08333333],
       [0.22222222, 0.75      , 0.10169492, 0.04166667],
       [0.08333333, 0.5       , 0.06779661, 0.04166667],
       [0.27777778, 0.70833333, 0.08474576, 0.04166667],
       [0.19444444, 0.54166667, 0.06779661, 0.04166667],
       [0.75      , 0.5       , 0.62711864, 0.54166667],
       [0.58333333, 0.5       , 0.59322034, 0.58333333],
       [0.72222222, 0.45833333, 0.66101695, 0.58333333],
       [0.33333333, 0.125     , 0.50847458, 0.5       ],
       [0.61111111, 0.33333333, 0.61016949, 0.58333333],
       [0.38888889, 0.33333333, 0.59322034, 0.5       ],
       [0.55555556, 0.54166667, 0.62711864, 0.625     ],
       [0.16666667, 0.16666667, 0.38983051, 0.375     ],
       [0.63888889, 0.375     , 0.61016949, 0.5       ],
       [0.25      , 0.29166667, 0.49152542, 0.54166667],
       [0.19444444, 0.        , 0.42372881, 0.375     ],
       [0.44444444, 0.41666667, 0.54237288, 0.58333333],
       [0.47222222, 0.08333333, 0.50847458, 0.375     ],
       [0.5       , 0.375     , 0.62711864, 0.54166667],
       [0.36111111, 0.375     , 0.44067797, 0.5       ],
       [0.66666667, 0.45833333, 0.57627119, 0.54166667],
       [0.36111111, 0.41666667, 0.59322034, 0.58333333],
       [0.41666667, 0.29166667, 0.52542373, 0.375     ],
       [0.52777778, 0.08333333, 0.59322034, 0.58333333],
       [0.36111111, 0.20833333, 0.49152542, 0.41666667],
       [0.44444444, 0.5       , 0.6440678 , 0.70833333],
       [0.5       , 0.33333333, 0.50847458, 0.5       ],
       [0.55555556, 0.20833333, 0.66101695, 0.58333333],
       [0.5       , 0.33333333, 0.62711864, 0.45833333],
       [0.58333333, 0.375     , 0.55932203, 0.5       ],
       [0.63888889, 0.41666667, 0.57627119, 0.54166667],
       [0.69444444, 0.33333333, 0.6440678 , 0.54166667],
       [0.66666667, 0.41666667, 0.6779661 , 0.66666667],
       [0.47222222, 0.375     , 0.59322034, 0.58333333],
       [0.38888889, 0.25      , 0.42372881, 0.375     ],
       [0.33333333, 0.16666667, 0.47457627, 0.41666667],
       [0.33333333, 0.16666667, 0.45762712, 0.375     ],
       [0.41666667, 0.29166667, 0.49152542, 0.45833333],
       [0.47222222, 0.29166667, 0.69491525, 0.625     ],
       [0.30555556, 0.41666667, 0.59322034, 0.58333333],
       [0.47222222, 0.58333333, 0.59322034, 0.625     ],
       [0.66666667, 0.45833333, 0.62711864, 0.58333333],
       [0.55555556, 0.125     , 0.57627119, 0.5       ],
       [0.36111111, 0.41666667, 0.52542373, 0.5       ],
       [0.33333333, 0.20833333, 0.50847458, 0.5       ],
       [0.33333333, 0.25      , 0.57627119, 0.45833333],
       [0.5       , 0.41666667, 0.61016949, 0.54166667],
       [0.41666667, 0.25      , 0.50847458, 0.45833333],
       [0.19444444, 0.125     , 0.38983051, 0.375     ],
       [0.36111111, 0.29166667, 0.54237288, 0.5       ],
       [0.38888889, 0.41666667, 0.54237288, 0.45833333],
       [0.38888889, 0.375     , 0.54237288, 0.5       ],
       [0.52777778, 0.375     , 0.55932203, 0.5       ],
       [0.22222222, 0.20833333, 0.33898305, 0.41666667],
       [0.38888889, 0.33333333, 0.52542373, 0.5       ],
       [0.55555556, 0.54166667, 0.84745763, 1.        ],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.77777778, 0.41666667, 0.83050847, 0.83333333],
       [0.55555556, 0.375     , 0.77966102, 0.70833333],
       [0.61111111, 0.41666667, 0.81355932, 0.875     ],
       [0.91666667, 0.41666667, 0.94915254, 0.83333333],
       [0.16666667, 0.20833333, 0.59322034, 0.66666667],
       [0.83333333, 0.375     , 0.89830508, 0.70833333],
       [0.66666667, 0.20833333, 0.81355932, 0.70833333],
       [0.80555556, 0.66666667, 0.86440678, 1.        ],
       [0.61111111, 0.5       , 0.69491525, 0.79166667],
       [0.58333333, 0.29166667, 0.72881356, 0.75      ],
       [0.69444444, 0.41666667, 0.76271186, 0.83333333],
       [0.38888889, 0.20833333, 0.6779661 , 0.79166667],
       [0.41666667, 0.33333333, 0.69491525, 0.95833333],
       [0.58333333, 0.5       , 0.72881356, 0.91666667],
       [0.61111111, 0.41666667, 0.76271186, 0.70833333],
       [0.94444444, 0.75      , 0.96610169, 0.875     ],
       [0.94444444, 0.25      , 1.        , 0.91666667],
       [0.47222222, 0.08333333, 0.6779661 , 0.58333333],
       [0.72222222, 0.5       , 0.79661017, 0.91666667],
       [0.36111111, 0.33333333, 0.66101695, 0.79166667],
       [0.94444444, 0.33333333, 0.96610169, 0.79166667],
       [0.55555556, 0.29166667, 0.66101695, 0.70833333],
       [0.66666667, 0.54166667, 0.79661017, 0.83333333],
       [0.80555556, 0.5       , 0.84745763, 0.70833333],
       [0.52777778, 0.33333333, 0.6440678 , 0.70833333],
       [0.5       , 0.41666667, 0.66101695, 0.70833333],
       [0.58333333, 0.33333333, 0.77966102, 0.83333333],
       [0.80555556, 0.41666667, 0.81355932, 0.625     ],
       [0.86111111, 0.33333333, 0.86440678, 0.75      ],
       [1.        , 0.75      , 0.91525424, 0.79166667],
       [0.58333333, 0.33333333, 0.77966102, 0.875     ],
       [0.55555556, 0.33333333, 0.69491525, 0.58333333],
       [0.5       , 0.25      , 0.77966102, 0.54166667],
       [0.94444444, 0.41666667, 0.86440678, 0.91666667],
       [0.55555556, 0.58333333, 0.77966102, 0.95833333],
       [0.58333333, 0.45833333, 0.76271186, 0.70833333],
       [0.47222222, 0.41666667, 0.6440678 , 0.70833333],
       [0.72222222, 0.45833333, 0.74576271, 0.83333333],
       [0.66666667, 0.45833333, 0.77966102, 0.95833333],
       [0.72222222, 0.45833333, 0.69491525, 0.91666667],
       [0.41666667, 0.29166667, 0.69491525, 0.75      ],
       [0.69444444, 0.5       , 0.83050847, 0.91666667],
       [0.66666667, 0.54166667, 0.79661017, 1.        ],
       [0.66666667, 0.41666667, 0.71186441, 0.91666667],
       [0.55555556, 0.20833333, 0.6779661 , 0.75      ],
       [0.61111111, 0.41666667, 0.71186441, 0.79166667],
       [0.52777778, 0.58333333, 0.74576271, 0.91666667],
       [0.44444444, 0.41666667, 0.69491525, 0.70833333]])

In [22]:
new_df= pd.DataFrame(scaled,columns=["SL","SW","PL","PW"])
new_df.head()

         SL        SW        PL        PW
0  0.222222  0.625000  0.067797  0.041667
1  0.166667  0.416667  0.067797  0.041667
2  0.111111  0.500000  0.050847  0.041667
3  0.083333  0.458333  0.084746  0.041667
4  0.305556  0.791667  0.118644  0.125000

In [23]:
from sklearn.preprocessing  import Binarizer

In [24]:
bb = Binarizer(threshold=5)
bb.fit_transform(df7[['SepalLengthCm']])

array([[1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

#converting catagorical variable into  newmaaric

"""
order variable -> order
no order -> neumerical variable
"""

In [25]:
from sklearn.preprocessing  import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(df['Species'].values)
siz = {'xl':3,"l":2,"m":1}
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [1]:
from sklearn.preprocessing  import OneHotEncoder
ohe = OneHotEncoder()
y = ohe.fit_transform(df.iloc[:,4:]).toarray()
pd.get_dummies(y)
y

NameError: name 'df' is not defined

In [ ]:
df.Species.unique()
#26/06/2023
df9 = df.copy(deep = True)
df2.dropna(axis=0,inplace = True)

In [ ]:
mapping = {'Iris-setosa':3,'Iris-versicolor':2, 'Iris-virginica':1}
df9['Species'] = df9['Species'].map(mapping)
df9.head()

In [ ]:
from sklearn.preprocessing  import LabelEncoder
le = LabelEncoder()
df9['Species']  = le.fit_transform(df9[['Species']])
df9

In [ ]:
from sklearn.preprocessing  import OneHotEncoder
ohe = OneHotEncoder()
y = ohe.fit_transform(df9[['Species']]).toarray()
y

In [28]:
pd.get_dummies(df['Species'])

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [ ]:
'''feature selection
SelectKbest 
classicfication problem we use chi2 methord
for regression we use f_regression
'''

In [29]:
from sklearn.feature_selection  import SelectKBest,chi2
# from sklearn.feature_selection  import chi2,f_regression #statical measure chi2 is chai squared

x= df9.iloc[:,0:4]
y= df9['Species']
sk = SelectKBest(chi2,k=2)
sk.fit_transform(x,y)

NameError: name 'df9' is not defined

# feature

In [36]:
df10 = df.copy(deep = True)
df10.dropna(axis=0,inplace = True)
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
x = df10.iloc[:,0:4]
scaled= pca.fit_transform(x)
scaled

array([[-2.75139980e+00,  3.56621639e-01],
       [-2.78600369e+00, -1.40028404e-01],
       [-2.96034481e+00, -1.05605703e-01],
       [-2.81814785e+00, -2.80480066e-01],
       [-2.34426699e+00,  7.75822391e-01],
       [-2.89118787e+00, -4.98047728e-02],
       [-2.96152753e+00, -5.39114435e-01],
       [-2.74392511e+00, -7.76466265e-02],
       [-2.68250852e+00,  5.14185710e-02],
       [-2.85839231e+00, -1.97852375e-01],
       [-3.29832067e+00, -4.69005524e-01],
       [-2.70464116e+00,  1.21553919e+00],
       [-2.44411971e+00,  1.37408253e+00],
       [-2.68648588e+00,  8.48713876e-01],
       [-2.71566403e+00,  3.49281258e-01],
       [-2.26230390e+00,  9.05391562e-01],
       [-2.65333038e+00,  5.50851189e-01],
       [-2.60985424e+00,  4.70246540e-01],
       [-3.28462325e+00,  1.76955629e-01],
       [-2.37204759e+00,  1.33403346e-01],
       [-2.42584435e+00, -3.25004308e-03],
       [-2.57824141e+00, -1.11309794e-01],
       [-2.53773129e+00,  1.67066514e-01],
       [-2.62919224e+00,  4.03563121e-01],
       [-2.70700661e+00,  3.48521724e-01],
       [-2.70368064e+00, -1.60274317e-01],
       [-2.65928745e+00, -1.68374232e-01],
       [-2.47667465e+00,  4.45946795e-01],
       [-2.71137016e+00,  8.50489107e-01],
       [-2.65897095e+00,  1.13012892e+00],
       [-2.74392511e+00, -7.76466265e-02],
       [-2.93594101e+00,  1.08110227e-01],
       [-2.69034317e+00,  6.35501921e-01],
       [-2.74392511e+00, -7.76466265e-02],
       [-3.05482261e+00, -4.47627296e-01],
       [-2.65810472e+00,  2.65134500e-01],
       [-2.83787159e+00,  3.02339777e-01],
       [-2.92825149e+00, -9.02653198e-01],
       [-3.07030333e+00, -3.01098761e-01],
       [-2.47400009e+00,  2.25650019e-01],
       [-2.27537571e+00,  4.70619323e-01],
       [-2.78692076e+00, -2.12533138e-01],
       [-2.60351143e+00,  5.39968699e-01],
       [-2.91144293e+00, -1.88992927e-01],
       [-2.60802012e+00,  6.15256008e-01],
       [-2.77257193e+00,  1.44928751e-01],
       [ 1.22036037e+00,  6.85512205e-01],
       [ 8.65069668e-01,  3.23631451e-01],
       [ 1.39829311e+00,  5.03297461e-01],
       [ 1.05612167e-01, -8.16431012e-01],
       [ 1.01823866e+00,  7.75158615e-02],
       [ 5.67989668e-01, -4.10895325e-01],
       [ 1.02752169e+00,  2.87945242e-01],
       [-8.28135613e-01, -9.84571616e-01],
       [ 9.75679588e-01,  2.30625244e-01],
       [-8.51267276e-02, -7.07984509e-01],
       [-5.89411899e-01, -1.24891008e+00],
       [ 4.40622019e-01, -9.40502336e-02],
       [ 1.89409391e-01, -5.41852372e-01],
       [ 9.13705890e-01, -1.20759771e-01],
       [-2.46396028e-01, -2.38789568e-01],
       [ 8.61478045e-01,  4.71423494e-01],
       [ 5.87327667e-01, -3.44211906e-01],
       [ 1.62956646e-01, -3.24082611e-01],
       [ 8.69167565e-01, -5.39339931e-01],
       [-3.02419847e-02, -5.71834490e-01],
       [ 1.04567697e+00, -7.88800706e-02],
       [ 2.86827416e-01, -5.91235581e-02],
       [ 1.22481822e+00, -3.27274261e-01],
       [ 8.49974694e-01, -1.79343276e-01],
       [ 6.45709743e-01,  1.54965153e-01],
       [ 8.32565563e-01,  3.32994873e-01],
       [ 1.26357085e+00,  2.43903558e-01],
       [ 1.48975407e+00,  2.66800854e-01],
       [ 7.41679383e-01, -1.56818763e-01],
       [-3.79284168e-01, -3.53174003e-01],
       [-1.44709189e-01, -6.92040239e-01],
       [-2.65999688e-01, -6.66476986e-01],
       [ 6.33187558e-02, -3.02317631e-01],
       [ 1.30622421e+00, -4.20024907e-01],
       [ 5.14021988e-01, -4.74540611e-01],
       [ 7.38713371e-01,  2.02162194e-01],
       [ 1.15387799e+00,  4.09414498e-01],
       [ 7.41053771e-01, -3.68007676e-01],
       [ 1.73637225e-01, -2.56639657e-01],
       [ 9.01314515e-02, -6.69902477e-01],
       [ 3.88874205e-01, -6.62189313e-01],
       [ 8.20410810e-01, -2.92726325e-02],
       [ 1.56613836e-01, -3.93804770e-01],
       [-7.83742416e-01, -9.92671531e-01],
       [ 2.82413020e-01, -4.94655332e-01],
       [ 2.60109010e-01, -2.02357795e-01],
       [ 3.03585144e-01, -2.82962444e-01],
       [ 5.72404064e-01,  2.46364480e-02],
       [-9.83498681e-01, -7.33650411e-01],
       [ 2.25770780e-01, -3.38003840e-01],
       [ 2.46135507e+00, -1.50155183e-02],
       [ 1.34012586e+00, -5.72374757e-01],
       [ 2.54930103e+00,  3.34090897e-01],
       [ 1.89994717e+00, -1.83798434e-01],
       [ 2.27956505e+00, -4.60127291e-02],
       [ 3.33144828e+00,  5.32352560e-01],
       [ 4.40931132e-01, -1.18136447e+00],
       [ 2.86535862e+00,  3.40284993e-01],
       [ 2.24862941e+00, -2.52643837e-01],
       [ 2.85356428e+00,  7.73033587e-01],
       [ 1.59372972e+00,  2.42756668e-01],
       [ 1.73115234e+00, -2.17834384e-01],
       [ 2.09712362e+00,  2.11489324e-01],
       [ 1.26913479e+00, -7.73185155e-01],
       [ 1.51106439e+00, -5.35812396e-01],
       [ 1.83539366e+00,  1.19125429e-01],
       [ 1.87995777e+00,  3.80174103e-02],
       [ 3.42746876e+00,  1.15806780e+00],
       [ 3.72719827e+00,  2.35110465e-01],
       [ 1.22363550e+00, -7.60782993e-01],
       [ 2.36087675e+00,  3.72055707e-01],
       [ 1.12370615e+00, -6.00333833e-01],
       [ 3.43340078e+00,  4.40105887e-01],
       [ 1.31654484e+00, -2.02766870e-01],
       [ 2.20835915e+00,  3.29672032e-01],
       [ 2.54882055e+00,  5.49582057e-01],
       [ 1.18659692e+00, -1.76444083e-01],
       [ 1.22001808e+00, -1.13302772e-01],
       [ 2.05154770e+00, -2.13919493e-01],
       [ 2.32172026e+00,  4.54180027e-01],
       [ 2.77437815e+00,  3.61290439e-01],
       [ 3.17263872e+00,  1.35774588e+00],
       [ 2.08728348e+00, -2.21259874e-01],
       [ 1.37270659e+00, -1.43927201e-01],
       [ 1.70691946e+00, -5.04558417e-01],
       [ 3.01179907e+00,  6.73950507e-01],
       [ 2.07566005e+00,  1.38480616e-01],
       [ 1.83556458e+00,  4.61173253e-02],
       [ 1.09781052e+00, -1.60244253e-01],
       [ 2.04048138e+00,  3.68140816e-01],
       [ 2.24549248e+00,  1.79345224e-01],
       [ 1.85528877e+00,  4.08128667e-01],
       [ 1.34012586e+00, -5.72374757e-01],
       [ 2.49533335e+00,  2.70445611e-01],
       [ 2.35130226e+00,  3.00310506e-01],
       [ 1.87527817e+00,  1.86312823e-01],
       [ 1.45331605e+00, -3.74858657e-01],
       [ 1.69476516e+00,  7.80052618e-02],
       [ 1.83216199e+00,  1.17102388e-01],
       [ 1.31782185e+00, -2.80077220e-01]])

In [38]:

df_new=pd.DataFrame(scaled)
df_new.head()

          0         1
0 -2.751400  0.356622
1 -2.786004 -0.140028
2 -2.960345 -0.105606
3 -2.818148 -0.280480
4 -2.344267  0.775822

In [42]:
from sklearn.preprocessing  import LabelEncoder
le = LabelEncoder()
df_new['Species']=le.fit_transform(df10[['Species']])

/home/rahul/anaconda3/lib/python3.9/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [44]:
df_new

            0         1  Species
0   -2.751400  0.356622        0
1   -2.786004 -0.140028        0
2   -2.960345 -0.105606        0
3   -2.818148 -0.280480        0
4   -2.344267  0.775822        0
..        ...       ...      ...
141  1.875278  0.186313        2
142  1.453316 -0.374859        2
143  1.694765  0.078005        2
144  1.832162  0.117102        2
145  1.317822 -0.280077        2

[146 rows x 3 columns]

# partitioning

In [47]:
x = df_new.iloc[:,0:2]
y = df_new['Species']
from sklearn.model_selection import train_test_split

In [1]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8,shuffle=True,random_state=1)#or train_test_split(x,y) , train_test_split(x,y,test_size=0.2)

NameError: name 'train_test_split' is not defined

In [60]:
xtrain.shape

(116, 2)

In [63]:
ytest.shape

(30,)

In [65]:
xtrain.index

Int64Index([124,  51,  42, 108,  28,  40, 104,  45,  17,  69,
            ...
             25, 134,  71, 129,  79, 133, 137,  72, 140,  37],
           dtype='int64', length=116)

In [67]:
ytest.index

Int64Index([ 98,  66,  53,  75, 121,  74, 119, 128,  44,  58,   5,  16,  90,
             14,  97,  33, 127,  29, 130,  35,  73,  83,  31, 122,  48,  19,
            141, 116,  92,  78],
           dtype='int64')