In [115]:
import pandas as pd
df=pd.read_csv('loan_data.csv')
df.isna().sum()
df.drop('credit.policy',inplace=True,axis=1)

In [117]:
df.dropna(inplace=True)

In [118]:
df.head()

,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [119]:
from sklearn.preprocessing import LabelEncoder as le, MinMaxScaler as mm
le= le()
mm = mm()
df.columns

Index(['purpose', 'int.rate', 'installment', 'log.annual.inc', 'dti', 'fico',
       'days.with.cr.line', 'revol.bal', 'revol.util', 'inq.last.6mths',
       'delinq.2yrs', 'pub.rec', 'not.fully.paid'],
      dtype='object')

In [139]:
df['purpose'] = le.fit_transform(df['purpose']) 
df[['int.rate', 'installment', 'log.annual.inc','dti', 'fico', 'days.with.cr.line', 'revol.bal','revol.util']] = mm.fit_transform(df[['int.rate', 'installment', 'log.annual.inc','dti', 'fico', 'days.with.cr.line', 'revol.bal','revol.util']])

In [140]:
df.head()

,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,2,0.476537,0.924466,0.471325,0.662135,0.564103,0.299026,0.193874,0.524145,0,0,0,0
1,1,0.381068,0.241547,0.426698,0.485724,0.410256,0.108918,0.225917,0.771630,0,0,0,0
2,2,0.612460,0.399116,0.308809,0.395309,0.282051,0.237639,0.023591,0.257545,1,0,0,0
3,2,0.330097,0.166672,0.471325,0.275323,0.435897,0.104954,0.226213,0.736419,1,0,0,0
4,1,0.668285,0.099140,0.462895,0.508838,0.205128,0.195128,0.031849,0.397384,0,1,0,0

In [141]:
from sklearn.feature_selection import SelectKBest as sk, chi2
sk=sk(chi2,k=6)

x=[['purpose', 'int.rate', 'installment', 'log.annual.inc','dti', 'fico', 'days.with.cr.line', 'revol.bal', 'revol.util','inq.last.6mths', 'delinq.2yrs', 'not.fully.paid']]
y = df['not.fully.paid']
x = df.iloc[:,:-1]
sk.fit_transform(x,y)

array([[2.        , 0.47653722, 0.92446611, 0.52414487, 0.        ,
        0.        ],
       [1.        , 0.38106796, 0.24154705, 0.77162978, 0.        ,
        0.        ],
       [2.        , 0.61245955, 0.39911578, 0.25754527, 1.        ,
        0.        ],
       ...,
       [5.        , 0.49271845, 0.35731415, 0.80985915, 0.        ,
        0.        ],
       [6.        , 0.697411  , 0.56998193, 0.45975855, 1.        ,
        0.        ],
       [1.        , 0.27346278, 0.20023413, 0.13380282, 1.        ,
        0.        ]])

In [142]:
sk.get_support()
x.iloc[:,sk.get_support()].columns

Index(['purpose', 'int.rate', 'installment', 'revol.util', 'inq.last.6mths',
       'pub.rec'],
      dtype='object')

In [143]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,shuffle=True,random_state=1,train_size=0.8)

In [150]:
from sklearn.linear_model import LogisticRegression as lr
lr = lr()
lr.fit(xtrain,ytrain)
ypred = lr.predict(xtest)
ypred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [151]:
from sklearn.metrics import r2_score,accuracy_score
print(accuracy_score(ytest,ypred))

0.8636363636363636