In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.svm import SVR
from sklearn.svm import LinearSVC, SVC
from sklearn.preprocessing import LabelEncoder as le, MinMaxScaler as mm
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import confusion_matrix, f1_score, accuracy_score, precision_score, roc_auc_score, recall_score, roc_curve
from mlxtend.plotting import plot_decision_regions
df = pd.read_csv("stock_infosys.csv")
df.head()

           Date    Close     Open     High      Low  Vol-Million  Change %
0  Jun 18, 2018  1269.20  1281.80  1291.00  1264.05         2.86     -0.01
1  Jun 15, 2018  1281.25  1237.00  1291.50  1235.00         9.98      0.03
2  Jun 14, 2018  1239.70  1253.00  1253.00  1234.10         3.80     -0.02
3  Jun 13, 2018  1264.80  1256.86  1273.93  1256.86         2.88      0.01
4  Jun 12, 2018  1248.63  1255.82  1261.28  1240.64         3.92      0.00

In [3]:
import os
os.system("figlet You can go fuck yourself")

__   __                                             __            _
\ \ / /__  _   _    ___ __ _ _ __     __ _  ___    / _|_   _  ___| | __
 \ V / _ \| | | |  / __/ _` | '_ \   / _` |/ _ \  | |_| | | |/ __| |/ /
  | | (_) | |_| | | (_| (_| | | | | | (_| | (_) | |  _| |_| | (__|   <
  |_|\___/ \__,_|  \___\__,_|_| |_|  \__, |\___/  |_|  \__,_|\___|_|\_\
                                     |___/
                                 _  __
 _   _  ___  _   _ _ __ ___  ___| |/ _|
| | | |/ _ \| | | | '__/ __|/ _ \ | |_
| |_| | (_) | |_| | |  \__ \  __/ |  _|
 \__, |\___/ \__,_|_|  |___/\___|_|_|
 |___/

0